body{
    background-color: #00030C;
    color:#FFFFFF;
    font-family:'Inter';
    font-size: 16px;
    font-weight:400;
}

{
    <margin>: 0%;
    <padding>: 0%;
}
       .principal{
        background-image: url("img/Background\ \(2\).png");
        background-repeat: no-repeat;
        background-size: contain;
        align-items: center;
        text-align: center;
    }

    .container__botao{
        background-color:#167BF7;
        border-radius: 5px;
        padding: 1em;
        color: #FFFFFF;
        display: block;
        text-decoration: none;
        margin-bottom: 1em;
    }